<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213310631578-9fgsfrfqj3fgj65p024feoagbt3ptt01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213310631578-9fgsfrfqj3fgj65p024feoagbt3ptt01</string>
	<key>API_KEY</key>
	<string>AIzaSyB_QyqFEkvKg2nxW9Dc5M_0-oKVGb6ACSw</string>
	<key>GCM_SENDER_ID</key>
	<string>213310631578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysubnsfw.mysub.mysub</string>
	<key>PROJECT_ID</key>
	<string>mysub-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>mysub-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213310631578:ios:14d760c703ead925d9f923</string>
</dict>
</plist>